{% extends 'layout.html' %}
{% load static %}

{% block main_panel %}
    <div class="container-fluid" style="height: 100%">
        <div class="row" style="height: 100%">
            <div class="col-md-6" style="height: 100%">
                <h1>Drug</h1>
                <div id="drugdetail"></div>
            </div>
            <div class="col-md-6" style="height: 100%;">
                <h1 style="text-align: center">Annotation</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>CUI</th>
                        <th>MDR1</th>
                        {% for option, name in options %}
                            <th>{{ name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-3">
                        <button id="addBtn" type="button" class="btn btn-warning glyphicon glyphicon-plus"
                                onclick="appendRow()">
                        </button>
                    </div>
                    <div class="col-xs-3">
                         <button id="fillOtherBtn" type="button" class="btn btn-success btn-block"
                                 onclick="fillEmptyWithOther(this)">
                            Fill Other
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button id="saveBtn" type="button" class="btn btn-success btn-block"
                                onclick="annotate(this)">
                            Save
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button id="saveNextBtn" type="button" class="btn btn-success btn-block"
                                onclick="annotate(this)">
                            Save and Next
                        </button>
                    </div>
                </div>
                <br>
                <div class="alert alert-success" id="success-alert" hidden>
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Success! </strong> Annotations were saved.
                </div>
                <div class="alert alert-success" id="create-alert" hidden>
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Success! </strong> New annotations were created.
                </div>
                <div class="alert alert-success" id="congrats-alert" hidden>
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Congratulations! </strong> You've annotated all the drugs!
                </div>
                <div class="alert alert-danger" id="input-alert" hidden>
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Error. </strong> Please fill out the required fields.
                </div>
                <div class="alert alert-danger" id="danger-alert" hidden>
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Oops... </strong> Something went wrong.
                </div>
            </div>
        </div>
    </div>

    <!-- Latest compiled and minified JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/annotation.js' %}"></script>

    <script>

        var annotatedDrug = {{ drug.key }};

        $(document).ready(function () {
            var csrftoken = Cookies.get('csrftoken');
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            updateDrugDetailsAndAnnotationTable(annotatedDrug);
        });

        function fillEmptyWithOther(button) {
            var done = [];
            $("input[type=radio]:checked").each(
                function(i, r) {
                    done.push(r.name)
                });
            $("input[type=radio][value=o]").each(
                function(i, r) {
                    if (done.indexOf(r.name) == -1) {
                        r.checked = true;
                    }
                });
        }

        function annotate(button) {
            if (inputValidation() == false) {
                return;
            }

            var annotations = $("input[type=radio]:checked").not("[name^=new]");
            var updateResults = updateAnnotations(annotations);

            var additions = $(".newRow");
            var createResults = addAnnotations(additions, annotatedDrug);

            var allResults = updateResults.concat(createResults);
            $.when.apply($, allResults)
                .done(function () {
                    if (button.id == 'saveBtn') {
                        if (createResults.length > 0) {
                            alertSuccessCreate(500, function () {
                                updateAnnotationTable(annotatedDrug);
                            });
                        }
                        alertSuccessUpdate();
                    } else if (button.id == 'saveNextBtn') {
                        if (createResults.length > 0) {
                            alertSuccessCreate();
                        }
                        alertSuccessUpdate(500, loadNextDrug);
                    }
                })
                .fail(function () {
                    alertError();
                });
        }

        function addAnnotations(records, drugID) {
            var deferred = [];
            records.each(function (idx, entry) {
                var cui = $(entry).find("input[name=cui]").val();
                var mdr = $(entry).find("input[name=mdr]").val();
                var mark = $(entry).find("input[type=radio]:checked").val();
                deferred.push(addAnnotation(drugID, cui, mdr, mark));
            });
            return deferred;
        }

        function loadNextDrug() {
            $.get("/drugs/next/{{ annotator }}").done(function (drugID) {
                if (drugID == null) {
                    alertCongrats();
                } else {
                    updateDrugDetailsAndAnnotationTable(drugID);
                }
            });
        }

        function inputValidation() {
            var valid = true;
            $(":required").each(function (idx, entry) {
                if (entry.value.length === 0) {
                    $(entry).parent().addClass("danger");
                    valid = false;
                } else {
                    $(entry).parent().removeClass("danger");
                }
            });
            if (!valid) {
                alertInput();
            }
            return valid;
        }

        // Loading partial pages
        //----------------------
        function updateDrugDetails(drugID) {
            return $.get("/partials/drugdetail/" + drugID).done(function (detail) {
                $("#drugdetail").hide().html(detail).fadeIn("slow");
            });
        }

        function updateAnnotationTable(drugID) {
            return $.get("/partials/annotations/" + drugID).done(function (annotations) {
                $("tbody").hide().html(annotations).fadeIn("slow");
            });
        }

        function updateDrugDetailsAndAnnotationTable(drugID) {
            var details = updateDrugDetails(drugID);
            var table = updateAnnotationTable(drugID);

            $.when(details, table).done(function () {
                annotatedDrug = drugID;
            }).fail(function () {
                alertError();
            });
        }

        // DOM manipulation
        //-----------------
        function appendRow() {
            var rowNumber = $(".newRow").length + 1;
            $.get("/partials/newrow/" + rowNumber).done(function (row) {
                $("tbody").append($(row));
            });
        }

        // Alerting
        //---------
        function alertSuccessUpdate(delay, callback) {
            delay = (typeof delay !== 'undefined') ? delay : 3000;
            $("#success-alert").fadeTo("normal", 1).delay(delay).slideUp("normal", callback);
        }

        function alertSuccessCreate(delay, callback) {
            delay = (typeof delay !== 'undefined') ? delay : 3000;
            $("#create-alert").fadeTo("normal", 1).delay(delay).slideUp("normal", callback);
        }

        function alertCongrats() {
            $("#congrats-alert").fadeTo("normal", 1).slideDown("normal");
        }

        function alertInput() {
            $("#input-alert").fadeTo("slow", 1).delay(3000).slideUp("normal");
        }

        function alertError() {
            $("#danger-alert").fadeTo("slow", 1).slideDown("normal");
        }
    </script>

{% endblock %}