{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Swift Annotator</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'icon.png' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Customization -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'welcome' %}"><i class="glyphicon glyphicon-home"></i> Swift Annotator</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'export' %}"><i class="glyphicon glyphicon-download"></i> Export data</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-md-6" style="height: 100%">
            <h1>Drug</h1>
            <div id="drugdetail"></div>
        </div>
        <div class="col-md-6" style="height: 100%;">
            <h1 style="text-align: center">Annotation</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>CUI</th>
                    <th>MDR1</th>
                    {% for option, name in options %}
                        <th>{{ name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="row">
                <div class="col-xs-2">
                    <button id="addBtn" type="button" class="btn btn-warning glyphicon glyphicon-plus"
                            onclick="appendRow()">
                    </button>
                </div>
                <div class="col-xs-5">
                    <button id="saveBtn" type="button" class="btn btn-success btn-block"
                            onclick="annotate(this)">
                        Save
                    </button>
                </div>
                <div class="col-xs-5">
                    <button id="saveNextBtn" type="button" class="btn btn-success btn-block"
                            onclick="annotate(this)">
                        Save and Next
                    </button>
                </div>
            </div>
            <br>
            <div class="alert alert-success" id="success-alert" hidden>
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success! </strong> Annotations were saved.
            </div>
            <div class="alert alert-danger" id="danger-alert" hidden>
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Oops... </strong> Something went wrong.
            </div>
            <div class="alert alert-success" id="congrats-alert" hidden>
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Congratulations! </strong> You've annotated all the drugs!
            </div>
        </div>
    </div>
</div>

<!-- Latest compiled and minified JQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="{% static 'js/js.cookie.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/annotation.js' %}"></script>

<script>
    $(document).ready(function () {
        var csrftoken = Cookies.get('csrftoken');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var drugID = {{ drug.key }};
        updateDrugDetailsAndAnnotationTable(drugID)
    });

    function annotate(button) {
        var annotations = $("input[type=radio]:checked");
        $.when.apply($, updateAnnotations(annotations))
            .done(function () {
                if (button.id == 'saveBtn') {
                    alertSuccess();
                } else if (button.id == 'saveNextBtn') {
                    alertSuccess(function () {
                        loadNextDrug();
                    });
                }
            })
            .fail(function () {
                alertError();
            });
    }

    function loadNextDrug() {
        $.get("/drugs/next/{{ annotator }}").done(function (drugID) {
            if (drugID == null) {
                alertCongrats();
            } else {
                updateDrugDetailsAndAnnotationTable(drugID);
            }
        });
    }

    // Loading partial pages
    //----------------------
    function updateDrugDetailsAndAnnotationTable(drugID) {
        $.get("/partials/drugdetail/" + drugID).done(function (detail) {
            $("#drugdetail").hide().html(detail).fadeIn("slow");
        });

        $.get("/partials/annotations/" + drugID).done(function (annotations) {
            $("tbody").hide().html(annotations).fadeIn("slow");
        });
    }

    // DOM manipulation
    //-----------------
    function appendRow() {
        var rowNumber = $(".newRow").length + 1;
        $.get("/partials/newrow/" + rowNumber).done(function(row) {
            $("tbody").append($(row));
        });
    }

    function alertSuccess(callback) {
        $("#success-alert").fadeTo("slow", 500).slideUp(500, callback);
    }

    function alertError() {
        $("#danger-alert").fadeTo("slow", 500).slideDown(500);
    }

    function alertCongrats() {
        $("#congrats-alert").fadeTo("slow", 500).slideDown(500);
    }
</script>

</body>
</html>