<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swift Annotate</title>

    <style>
        body {
            height: 100%;
            background-color: #faf2cc;
            text-align: center;
        }

        h1 {
            color: #122b40;
        }

        div {
            width: 100%;
            position: absolute;
            top: 30%;
            bottom: 50%;
        }
    </style>
</head>
<body>
<div>
    <h1>{{ message }}</h1>
</div>
</body>
</html>