{% extends 'layout.html' %}

{% block head_extension %}
    <style>
        body {
            height: 100%;
            background-color: #faf2cc;
            text-align: center;
        }

        h1 {
            color: #122b40;
        }

        .message {
            width: 100%;
            position: absolute;
            top: 30%;
            bottom: 50%;
        }
    </style>
{% endblock %}


{% block main_panel %}
    <div class="message">
        <h1>{{ message }}</h1>
    </div>
{% endblock %}